name: CI

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

jobs:
  build:
    name: Code standards & build
    runs-on: ubuntu-latest
    timeout-minutes: 3

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - uses: cachix/install-nix-action@4e002c8ec80594ecd40e759629461e26c8abed15 # v31
      - uses: cachix/cachix-action@v15
        with:
          name: natsukium
          authToken: ${{ secrets.CACHIX_AUTH_TOKEN }}
      - name: "Lint and format"
        run: nix flake check
      - name: "Install dependencies"
        run: nix develop --command bash -c "pnpm install --frozen-lockfile"
      - name: "Run tests"
        run: nix develop --command bash -c "pnpm run test"
      - name: "Build the project"
        run: nix develop --command bash -c "pnpm run build"
