name: Test Plugins

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

jobs:
  check-changes:
    name: Check file changes
    runs-on: ubuntu-latest
    outputs:
      plugins: ${{ steps.filter.outputs.plugins }}
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: dorny/paths-filter@de90cc6fb38fc0963ad72b210f1f284cd68cea36 # v3.0.2
        id: filter
        with:
          filters: |
            plugins:
              - 'plugins/**'

  test-plugins:
    name: Test plugin - ${{ matrix.plugin }}
    needs: check-changes
    if: needs.check-changes.outputs.plugins == 'true'
    runs-on: ubuntu-latest
    timeout-minutes: 3
    strategy:
      matrix:
        plugin:
          - remark-heading-markers
          - remark-ogp-card

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: cachix/install-nix-action@4e002c8ec80594ecd40e759629461e26c8abed15 # v31.9.0
      - uses: cachix/cachix-action@3ba601ff5bbb07c7220846facfa2cd81eeee15a1 # v16
        with:
          name: natsukium
          authToken: ${{ secrets.CACHIX_AUTH_TOKEN }}
      - name: "Setup pnpm cache"
        uses: actions/cache@cdf6c1fa76f9f475f3d7449005a359c84ca0f306 # v5.0.3
        with:
          path: ~/.local/share/pnpm/store
          key: ${{ runner.os }}-pnpm-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-pnpm-
      - name: "Install plugin dependencies"
        run: nix develop --command bash -c "pnpm install --filter ${{ matrix.plugin }}"
      - name: "Run plugin tests"
        run: nix develop --command bash -c "pnpm -C plugins/${{ matrix.plugin }} test"
